{
  "presets": [["es2015", { "modules": false }], "stage-2"],
  "plugins": ["transform-runtime", "transform-vue-jsx"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]
    }
  },
  "comments": false
}
