.ted-table{
    position: relative; overflow-x: auto; box-shadow: -1px 0 0 0 #e3e3e9, 1px 0 0 0 #e3e3e9, 0 1px 0 0 #e3e3e9;
    ::-webkit-scrollbar{ width: 9px; height: 9px; border-radius: 8px; }
    ::-webkit-scrollbar-thumb{ border-radius: 4px; background: rgba(0,0,0,.2); }
    ::-webkit-scrollbar-button{ display: none; border-radius: 4px; }
    ::-webkit-scrollbar-track{ background: #eee; }
    .table-container{ display: flex; margin: 0; padding: 0; }
    table{ display: table; }
    th, td{ border: 1px solid #e3e3e9; }
    .common-table{ width: 100%; margin: 0; padding: 0; border: none; background-color: #fff; border-collapse: separate; border-spacing: 0; color: #333; transform-style: preserve-3d;
        &.table-left{ border-right: 1px solid #e3e3e9;
            &.fixed{ position: relative; z-index: 1; box-shadow: 2px 0 0 0 #e3e3e9; }
        }
        &.table-right{ box-shadow: -2px 0 0 0 #e3e3e9; }
        &.placeholder{ visibility: hidden; }
        tr{ border: 1px solid #dfe2e5;
            &:hover{ background-color: #f5f5f7; }
        }
        thead{ background-color: #f5f5f7; }
        th, td{ padding: 0 10px; height: 36px; border-bottom: none; border-right: none; border-left: none; box-shadow: 1px 0 0 0 #e3e3e9; font-weight: 400; white-space: nowrap; line-height: 36px; font-size: 14px; }
        th{ text-align: center; color: #666; font-weight: 600; }
    }
    .fixed{ box-shadow: 0 1px 0 0 #e3e3e9; }
}